body{
    background-color: rgb(192, 130, 193) !important;
}

.container {
    min-height: 100vh;
    background-color: rgb(192, 130, 193) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.image {
    max-height: 175px;
    object-fit: cover;
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.width-100 {
    width: 100%;
}

.text-center {
    display: flex;
    justify-content: center;
}

.reset{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.endCard {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;

}